<h1>Stylists</h1>
<br>

<ul>
#foreach($stylist in $stylists)
 <li><h3><a href="/stylists/$stylist.getId()"> $stylist.getName()</a></h3><h4><a href="/stylist/$stylist.getId()/edit"> Edit Stylist</a></h4></li>
#end
</ul>


<hr>
<a href="/">Return to Home Page</a>
